<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push(
                { 'gtm.start': new Date().getTime(), event: 'gtm.js' }
            ); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NTCKFKM');
    </script>
    <style>
        body { display: none; }
    </style>

    @RenderSection("styles", required: false)
    @RenderSection("Meta", required: false)
</head>
<body id="body" class="embedded-body">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTCKFKM"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    @RenderBody()

    <environment names="Development">
        <script src="~/js/bundle.js?@DateTime.Now.Ticks.ToString()"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/bundle.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>