@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options;
@using CollAction.Services.Newsletter;
@using CollAction.Services.Festival;

@inject IViewLocalizer Localizer

@inject IOptions<NewsletterSubscriptionServiceOptions> NewsletterSubscriptionServiceOptions
@inject IFestivalService FestivalService;

<div id="footer">
  <div class="container">

    <div class="logo row">
      <div class="col-xs-12">
        <partial name="_Logo" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-12" id="footer-remarks">
        Any questions, comments, or would you like to work together? Awesome! Email us at <a href="mailto:collactionteam@gmail.com">collactionteam@gmail.com</a>
        <br />Would you like to get an occasional update on CollAction and crowdacting? Sign up for our newsletter (to your right)! We will be careful with your data, see our <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.
      </div>

      <ul class="nav-list col-md-2 col-xs-12">
          <li><a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
          <li><a asp-controller="Projects" asp-action="Find">@Localizer["Find Project"]</a></li>
          <li><a asp-controller="Projects" asp-action="Create">@Localizer["Start Project"]</a></li>
          <li><a asp-controller="Home" asp-action="About" asp-fragment="about-collaction-fragment">@Localizer["About Us"]</a></li>
          @if (FestivalService.CallToActionsVisible) 
          {
            <li><a asp-controller="Home" asp-action="CrowdActingFestival">@Localizer["Festival"]</a></li>
          }
      </ul>

      <ul class="nav-list col-md-2 col-xs-12">
          <li><a asp-controller="Account" asp-action="Login">@Localizer["Login"]</a></li>
          <li><a asp-controller="Account" asp-action="Register">@Localizer["Sign Up"]</a></li>
          <li><a asp-controller="Home" asp-action="About" asp-fragment="about-us-fragment">@Localizer["Mission"]</a></li>
          <li><a asp-controller="Home" asp-action="About" asp-fragment="meet-the-team-fragment">@Localizer["Team"]</a></li>
      </ul>

      <ul class="nav-list col-md-1 col-xs-12">
          <li><a asp-controller="Home" asp-action="About" asp-fragment="jobs-fragment">@Localizer["Jobs"]</a></li>
          <li><a asp-controller="Home" asp-action="About" asp-fragment="partners-fragment">@Localizer["Partners"]</a></li>
          <li><a asp-controller="Home" asp-action="About" asp-fragment="press-fragment">@Localizer["Press"]</a></li>
          <li><a asp-controller="Home" asp-action="About" asp-fragment="faq-fragment">@Localizer["FAQs"]</a></li>
      </ul>


      <div class="col-md-3 col-xs-12">
        <h5 class="header">@Localizer["Follow Us"]</h5>
        <ul class="social-list">
            <li><a target="_blank" href="https://www.facebook.com/collaction.org/"><div><i class="fa fa-facebook"></i></div></a></li>
            <li><a target="_blank" href="https://www.instagram.com/collaction_org"><div><i class="fa fa-instagram"></i></div></a></li>
            <li><a target="_blank" class="twitter-follow-button" href="https://twitter.com/CollAction_org"><div><i class="fa fa-twitter"></i></div></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCC2SBF4mbeKXrHqnMuN6Iew/"><div><i class="fa fa-youtube"></i></div></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company-beta/15079855/"><div><i class="fa fa-linkedin"></i></div></a></li>
        </ul>

        <h5 class="header">@Localizer["Sign up to our newsletter"]</h5>

        <!-- Mailchimp signup form 48e9b2f8f522cf59b9d5ffa8d -->
        <div class="newsletter-signup" data-u="@NewsletterSubscriptionServiceOptions.Value.MailChimpUserId" data-list-id="@NewsletterSubscriptionServiceOptions.Value.MailChimpNewsletterListId"></div>
      </div>
    </div>
  </div>
</div>
