@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options;
@using CollAction.Services;

@inject IViewLocalizer Localizer

@inject IOptions<NewsletterSubscriptionServiceOptions> NewsletterSubscriptionServiceOptions

<div id="footer">
  <div class="container">

    <div id="logos" class="row">
      <div class="col-xs-12">
        <a href="http://fossylfrijfryslan.frl" target="_blank">
          <img src="/images/friesland/logo-freonenfan-h.png">
        </a>
      </div>
      <div class="col-xs-12">
        <a href="https://www.fryslan.frl" target="_blank">
          <img src="/images/friesland/logo-provincie-friesland.png">
        </a>        
      </div>
      <div class="col-xs-12">
        <a href="https://collaction.org" target="_blank">
          <img src="/images/friesland/powered-by-collaction.png">
        </a>
      </div>
    </div>

    <div id="logos-landscape" class="row">
      <div class="col-xs-12">
        <a href="http://fossylfrijfryslan.frl" target="_blank">
          <img class="logo-freonen" src="/images/friesland/logo-freonenfan-h.png">
        </a>
        <a href="https://www.fryslan.frl" target="_blank">
          <img class="logo-provincie-friesland" src="/images/friesland/logo-provincie-friesland.png">
        </a>        
        <a href="https://collaction.org" target="_blank">
          <img class="logo-collaction" src="/images/friesland/powered-by-collaction.png">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-12 remarks">
        Heb je vragen, opmerkingen, of wil je samenwerken? Graag! Mail ons dan op <a href="mailto:info@freonen.nl">info@freonen.nl</a> of ga naar <a href="http://fossylfrijfryslan.frl/" target="_blank">http://fossylfrijfryslan.frl</a>
      </div>

      <ul class="col-md-2 col-xs-6">
          <li><a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
          <li><a asp-controller="Projects" asp-action="Find">@Localizer["Vind Project"]</a></li>
          <li><a asp-controller="Projects" asp-action="Create">@Localizer["Start Project"]</a></li>
      </ul>

      <ul class="col-md-2 col-xs-6">
          <li><a asp-controller="Home" asp-action="About">@Localizer["Over"]</a></li>
          <li><a asp-controller="Account" asp-action="Login">@Localizer["Inloggen"]</a></li>
          <li><a asp-controller="Account" asp-action="Register">@Localizer["Registreren"]</a></li>
      </ul>

      <div class="col-md-3 col-xs-12">
        <h5>@Localizer["Volg ons"]</h5>
        <ul class="social-list">
          <li><a target="_blank" href="https://www.facebook.com/freonen/"><i class="fa fa-facebook marginright"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/freonen"><i class="fa fa-twitter marginright"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/freonen-fan-fossylfry-frysl%C3%A2n/"><i class="fa fa-linkedin marginright"></i></a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCd8GD6UcaH8MEpJQhB3qzzA"><i class="fa fa-youtube marginright"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
