﻿@using Microsoft.ApplicationInsights.AspNetCore
@using Microsoft.AspNetCore.Http.Features
@using CollAction.Services.HashAssetService
@using Core.Flash2.Mvc

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Core.Flash2

@inject JavaScriptSnippet snippet
@inject IHashAssetService hashAsset

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var canTrack = consentFeature.CanTrack;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollAction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />

    <style>
        body { display: none; }
    </style>

    @RenderSection("styles", required: false)
    @RenderSection("Meta", required: false)
    @Html.Raw(snippet.FullScript)
</head>
<body id="body">
    <div id="main">
        <div id="header">
            <partial name="_NavMenu" />
        </div>

        <partial name="_CookieConsentPartial" />
        <div id="site-content">
           <div flashes></div>
            @RenderBody()
        </div>
        <partial name="_Footer" />

        @RenderSection("scripts", required: false)

        <script src="~/js/frontend.bundle.js?@(hashAsset.HashAssetBase64("wwwroot", "js", "frontend.bundle.js"))">
        </script>
        <script src="~/js/tagmanager.bundle.js?@(hashAsset.HashAssetBase64("wwwroot", "js", "tagmanager.bundle.js"))">
        </script>

        @if (canTrack)
        {
            <script src="https://js.stripe.com/v3/">
            </script>
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTCKFKM" height="0" width="0" style="display:none;visibility:hidden">
                </iframe>
            </noscript>
        }
    </div>
</body>
</html>