﻿@using Microsoft.ApplicationInsights.AspNetCore
@using Microsoft.AspNetCore.Http.Features
@inject JavaScriptSnippet snippet

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var canTrack = consentFeature.CanTrack;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollAction</title>
    @if (canTrack) 
    {
        <script src="~/lib/google/tagmanager.js">
        </script>
    }
    <script src="https://js.stripe.com/v3/"></script>
    <environment names="Development">
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <style>
        body { display: none; }
    </style>

    @RenderSection("styles", required: false)
    @RenderSection("Meta", required: false)
    @Html.Raw(snippet.FullScript)
</head>
<body id="body">
    @if (canTrack) 
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTCKFKM"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }

    <div id="header">
        <partial name="_NavMenu" />
    </div>

    <partial name="_CookieConsentPartial" /> 
    <div id="site-content">
    @RenderBody()
    </div>
    <partial name="_Footer" />

    @RenderSection("scripts", required: false)
    
    <environment names="Development">
        <script src="~/js/frontend.bundle.js?@DateTime.Now.Ticks.ToString()"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/frontend.bundle.js"></script>
    </environment>
</body>
</html>