@using Microsoft.AspNetCore.Mvc.Localization

@model ExternalLoginViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Registreer"];
}

<div id="login-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>@ViewData["Title"]</h1>
                <h4>Registreer met een @ViewData["LoginProvider"] account.</h4>
                <p class="text-info">
                    Je bent er bijna! Je kan je registratie onder afmaken.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="login-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewsletterSubscription" class="control-label"></label>
                        @Html.CheckBoxFor(m => m.NewsletterSubscription)
                        @Html.ValidationMessage("NewsletterSubscription")
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="AgreedPrivacyPolicy">Ik heb de <a href="/Home/Privacy" target="_blank">privacy policy</a> gelezen en ik accepteer deze</label>
                        @Html.CheckBoxFor(m => m.AgreedPrivacyPolicy)
                        @Html.ValidationMessage("AgreedPrivacyPolicy")
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
