@using Microsoft.AspNetCore.Mvc.Localization
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer

@model LoginViewModel

@{
    ViewData["Title"] = Localizer["Log in"];
}

<div id="login-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>@ViewData["Title"]</h1>
                <h4>(use a local account to log in)</h4>
            </div>
        </div>
    </div>
</div>

<div id="login-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    @{ var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList(); }

                    @foreach (var provider in loginProviders)
                    {
                        var providerClass = @provider.Name?.ToLower();
                        var providerName = @provider.Name?.ToUpper();

                        <div class="form-group">
                            <button type="submit" class="btn-socialmedia-login @providerClass" name="provider" value="@provider.Name">
                                <i class="fa fa-@providerClass"></i>&nbsp;&nbsp;LOGIN with @providerName
                            </button>
                        </div>
                    }
                </form>
            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="seperator">
                    <p><span>or</span></p>
                </div>
            </div>            
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        @Html.ValidationMessage("Email")
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        @Html.ValidationMessage("Password")
                    </div>

                    <div class="form-group">
                        <label asp-for="RememberMe" class="control-label"></label>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.ValidationMessage("RememberMe")
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-login" />
                    </div>

                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>

                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>