@using Microsoft.AspNetCore.Mvc.Localization
@using CollAction.Services

@inject IViewLocalizer Localizer
@inject IProjectService ProjectService

@model IndexViewModel
@{
    ViewData["Title"] = "Beheer jouw account";
}

<div id="manage-index">
    <div class="container">
        <h2>@ViewData["Title"].</h2>
        <p class="text-success">@Model.StatusMessage</p>

        <dl>
            <dt>Wachtwoord:</dt>
            <dd>
                <form asp-controller="Manage" asp-action="ChangePassword" method="get">
                    <input type="submit" value="Verander wachtwoord" />
                </form>
            </dd>

            <dt>Nieuwsbrief:</dt>
            <dd>
                <form asp-controller="Manage" asp-action="NewsletterSubscription" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <label asp-for="NewsletterSubscription" class="control-label"></label>
                    @Html.CheckBoxFor(m => m.NewsletterSubscription, new { onclick = "this.form.submit();" })
                    @Html.ValidationMessage("NewsletterSubscription")
                </form>
            </dd>
            <dt>Verwijder account (Waarschuwing: Je verwijderd je gegevens permanent hiermee!)</dt>
            <dd>
                <form asp-controller="Account" asp-action="Delete" method="post">
                    <input type="submit" value="Verwijder" />
                </form>
            </dd>

            <dt>Projecten waar je aan mee doet:</dt>

            <dd>
            @if (Model.ProjectsParticipated.Any())
            {
                <ul>
                    @foreach (var item in @Model.ProjectsParticipated)
                    {
                        <li>
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">@item.Name</a> - <a asp-action="ChangeSubscriptionFromAccount" asp-controller="Projects" asp-route-id="@item.Id">Verander je project-email voorkeuren</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>
                    Je doet op dit moment aan geen enkel project mee.
                </p>
            }
            </dd>

            <dt>Projecten die je hebt aangemaakt:</dt>

            <dd>
            @if (Model.ProjectsCreated.Any())
            {
                <ul>
                    @foreach (var item in @Model.ProjectsCreated)
                    {
                        <li>
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">@item.Name</a>
                            @if (ProjectService.CanSendProjectEmail(item))
                            {
                               <span> - </span><a asp-action="SendProjectEmail" asp-controller="Projects" asp-route-id="@item.Id">Verstuur project-email voor @item.Name</a>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>
                    Je hebt geen projecten aangemaakt.
                </p>
            }
        </dd>

            @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
            </dd>*@
        </dl>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
