@using Microsoft.AspNetCore.Mvc.Localization
@using CollAction.Services

@inject IViewLocalizer Localizer
@inject IProjectService ProjectService

@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<div id="manage-index">
    <div class="container">
        <h2>@ViewData["Title"].</h2>
        <p class="text-success">@Model.StatusMessage</p>

        <dl>
            <dt>Password:</dt>
            <dd>
                <form asp-controller="Manage" asp-action="ChangePassword" method="get">
                    <input type="submit" value="Change Password" />
                </form>
            </dd>

            <dt>Newsletter Subscription:</dt>
            <dd>
                <form asp-controller="Manage" asp-action="NewsletterSubscription" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="NewsletterSubscription" value="@(!Model.NewsletterSubscription)" />
                    @Html.ValidationMessage("NewsletterSubscription")
                    @if (Model.NewsletterSubscription)
                    {
                        <input type="submit" value="Unsubscribe from newsletter" />
                    } else
                    {
                        <input type="submit" value="Subscribe to newsletter" />
                    }
                </form>
            </dd>
            <dt>Delete Account (Warning: This will permanently delete your data!)</dt>
            <dd>
                <form asp-controller="Account" asp-action="Delete" method="post">
                    <input type="submit" value="Delete" />
                </form>
            </dd>

            <dt>Projects You've Subscribed To:</dt>

            <dd>
            @if (Model.ProjectsParticipated.Any())
            {
                <ul>
                    @foreach (var item in @Model.ProjectsParticipated)
                    {
                        <li>
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">@item.Name</a> - <a asp-action="ChangeSubscriptionFromAccount" asp-controller="Projects" asp-route-id="@item.Id">Change e-mail subscription</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>
                    You are not currently participating in any projects. 
                </p>
            }
            </dd>

            <dt>Projects You've Created:</dt>

            <dd>
            @if (Model.ProjectsCreated.Any())
            {
                <ul>
                    @foreach (var item in @Model.ProjectsCreated)
                    {
                        <li>
                            @if (item.Status != ProjectStatus.Deleted && item.Status != ProjectStatus.Hidden)
                            {
                                <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">@item.Name</a>
                            } else
                            {
                                <span>@item.Name</span>
                            }

                            @if (ProjectService.CanSendProjectEmail(item))
                            {
                               <span> - </span><a asp-action="SendProjectEmail" asp-controller="Projects" asp-route-id="@item.Id">Send project e-mail for @item.Name</a>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>
                    You have not yet created any projects.
                </p>
            }
        </dd>

            @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
            </dd>*@
        </dl>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}