@using Microsoft.AspNetCore.Mvc.Localization
@using CollAction.Models.AdminViewModels

@inject IViewLocalizer Localizer

@model ManageProjectViewModel

@{
    ViewData["Title"] = Localizer["Manage Project"];
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ManageProject">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Project.Id" />
        <div class="form-group">
            <label asp-for="Project.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Project.Name" class="form-control" />
                <span asp-validation-for="Project.Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Project.Status", Model.StatusList)
                <span asp-validation-for="Project.Status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.Category" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Project.CategoryId", Model.CategoryList)
                <span asp-validation-for="Project.CategoryId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Project.LocationId", Model.LocationList)
                <span asp-validation-for="Project.LocationId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.Owner" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Project.OwnerId", Model.UserList)
                <span asp-validation-for="Project.OwnerId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.Target" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Project.Target" class="form-control" />
                <span asp-validation-for="Project.Target" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.Start" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Project.Start" type="date" class="form-control" />
                <span asp-validation-for="Project.Start" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.End" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Project.End" type="date" class="form-control" />
                <span asp-validation-for="Project.End" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.Goal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Project.Goal" class="form-control" />
                <span asp-validation-for="Project.Goal" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project.DisplayPriority" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Project.DisplayPriority", Model.DisplayPriorityList)
                <span asp-validation-for="Project.DisplayPriority" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProjectTags" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProjectTags" class="form-control" />
                <span asp-validation-for="ProjectTags" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="ManageProjectsIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}