@model CollAction.Models.EmailViewModels.ProjectCommitEmailViewModel
Hi @Model.UserDescription!<br><br>
Thank you for participating in a CollAction project!<br><br>
In crowdacting, we only act collectively when we meet the target before the deadline, so please feel very welcome to share this project on social media through the social media buttons below and on the <a href="@(Model.ProjectUrl)">project page</a>!<br><br>
We"ll keep you updated on the project. Also feel free to Like us on <a href="https://www.facebook.com/collaction.org/">Facebook</a> to stay up to date on everything CollAction!<br><br>
Warm regards,<br>The CollAction team<br><br>
PS: Did you know you can start your own project on <a href="https://collaction.org/start">www.collaction.org/start</a>?<br><br>
<span style="#share-buttons img {}">
    <div id="share-buttons">
        <p>Multiply your impact and share the project with the buttons below 🙂</p>
        <a href=https://www.facebook.com/sharer/sharer.php?u =@(Model.ProjectUrl)">
            <img style="width: 25px; padding: 5px;border: 0;box-shadow: 0;display: inline;" src="@(Model.SiteUrl)/images/social/facebook.png" alt="Facebook" />
        </a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=@(Model.ProjectUrl)&title=@(Model.ProjectName)" target="_blank">
            <img style="width: 25px; padding: 5px;border: 0;box-shadow: 0;display: inline;" src="@(Model.SiteUrl)/images/social/linkedin.png" alt="LinkedIn" />
        </a>
        <a href=\"https://twitter.com/intent/tweet?text=@(Model.ProjectName)&url=@(Model.ProjectUrl)" target="_blank">
            <img style="width: 25px; padding: 5px;border: 0;box-shadow: 0;display: inline;" src="@(Model.SiteUrl)/images/social/twitter.png" alt="Twitter" />
        </a>
    </div>
</span>