@model CollAction.ViewModels.Email.ProjectCommitEmailViewModel

@if (Model.User?.FirstName != null)
{
    <p>
        Hi @Model.User.FirstName!
    </p>
}
else
{
    <p>
        Hi!
    </p>
}

@if (Model.ShowAlreadyParticipating)
{
    <p>
        Thanks for your interest in the @Model.Project.Name CollAction project, but it appears you are already participating.
    </p>
}
else
{
    <p>
        Thank you for participating in a CollAction project!
    </p>

    <p>
        In crowdacting, we only act collectively when we meet the target before the deadline,
        so please feel very welcome to share this project on social media through the social media buttons
        below and on the <a href="@Model.ProjectUrl">@Model.Project.Name project page</a>!
    </p>

    <p>
        We"ll keep you updated on the project. Also feel free to Like us on <a href="https://www.facebook.com/collaction.org/">Facebook</a> to stay up to date on everything CollAction!
    </p>
}

@if (Model.ShowCreateAccount)
{
    <p>
        Did you know you can easily create an account with us? You'll be able to keep track of the projects you are committed to, and even <a href="@Model.StartLink">start your own projects!</a>
    </p>

    <p>
        <a href="@Model.FinishRegistrationLink">Create your account now!</a>
    </p>
}

@if (Model.ShowYouCanLogin)
{
    <p>
        You can <a href="@Model.LoginLink">log in</a> to keep track of the projects you are committed to, and even <a href="@Model.StartLink">start your own projects!</a>
    </p>
}

<p>
    Warm regards,<br>
    The CollAction Team
</p>

<span style="#share-buttons img {}">
    <div id="share-buttons">
        <p>
            Multiply your impact and share the project with the buttons below 🙂
        </p>
        <a href="@Model.FacebookLink">
            <img style="width: 25px; padding: 5px;border: 0;box-shadow: 0;display: inline;" src="@(Model.PublicAddress)/images/social/facebook.png" alt="Facebook" />
        </a>
        <a href="@Model.LinkedinLink" target="_blank">
            <img style="width: 25px; padding: 5px;border: 0;box-shadow: 0;display: inline;" src="@(Model.PublicAddress)/images/social/linkedin.png" alt="LinkedIn" />
        </a>
        <a href="@Model.TwitterLink" target="_blank">
            <img style="width: 25px; padding: 5px;border: 0;box-shadow: 0;display: inline;" src="@(Model.PublicAddress)/images/social/twitter.png" alt="Twitter" />
        </a>
    </div>
</span>
<br/>
<br/>

@if (Model.ShowCreateYourOwnProject)
{
    <p>
        PS: Did you know you can start your own project on <a href="@Model.StartLink">www.collaction.org/start</a>?
    </p>
}