@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CollAction.Models.DisplayProjectViewModel

@{
    ViewData["Title"] = Localizer["Details"];
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>@Localizer["Project"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Proposal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Proposal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Goal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Goal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Location.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Target)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Target)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.CreatorComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.CreatorComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Progress)%
        </dd>

    @if (Model.HasDescriptionVideo) {
        <dt>
            @Localizer["Descriptive Video"]
        </dt>
        <dd>
            <iframe width="560" height="315" src="@Model.DescriptionVideoYouTubeEmbedLink" frameborder="0" allowfullscreen></iframe>
        </dd>
    }

    </dl>
</div>
<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
