@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model EditProjectViewModel

@{
    ViewData["Title"] = Localizer["Edit"];
}

<h2>@Localizer["Edit"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Localizer["Project"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
                @Html.ValidationMessage("Name")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Proposal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Proposal" class="form-control" />
                <span asp-validation-for="Proposal" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Goal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Goal" class="form-control" />
                <span asp-validation-for="Goal" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", Model.Categories)
                <span asp-validation-for="CategoryId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LocationId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("LocationId", Model.Locations)
                <span asp-validation-for="LocationId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Target" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Target" class="form-control" />
                <span asp-validation-for="Target" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="End" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatorComments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatorComments" class="form-control" />
                <span asp-validation-for="CreatorComments" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionVideoLink" class="col-md-2 "control-label"></label>
            <div class="col-md-10">
                <input asp-for="DescriptionVideoLink" class="form-control" />
                <span asp-validation-for="DescriptionVideoLink" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
