@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model FindProjectViewModel

@{
    ViewData["Title"] = "Find";
}

<h2>Find</h2>

<form asp-action="Find">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div class="form-group">
            <label asp-for="SearchText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SearchText" class="form-control" value="@Model.SearchText" />
                <span asp-validation-for="SearchText" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.First().Goal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.First().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.First().Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.First().Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.First().Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.First().End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model.Projects) {
        <tr>
            <td>
                @Html.DisplayFor(content => item.Name)
            </td>
            <td>
                @Html.DisplayFor(content => item.Description)
            </td>
            <td>
                @Html.DisplayFor(content => item.Goal)
            </td>
            <td>
                @Html.DisplayFor(content => item.Category)
            </td>
            <td>
                @Html.DisplayFor(content => item.Location)
            </td>
            <td>
                @Html.DisplayFor(content => item.Target)
            </td>
            <td>
                @Html.DisplayFor(content => item.Start)
            </td>
            <td>
                @Html.DisplayFor(content => item.End)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
