@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model IEnumerable<DisplayProjectViewModel>

@{
    ViewData["Title"] = Localizer["Index"];
}

<h2>@Localizer["Index"]</h2>

<p>
    <a asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Goal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(content => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(content => item.Project.Description)
            </td>
            <td>
                @Html.DisplayFor(content => item.Project.Goal)
            </td>
            <td>
                @Html.DisplayFor(content => item.Project.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(content => item.Project.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(content => item.Project.Target)
            </td>
            <td>
                @Html.DisplayFor(content => item.Project.Start)
            </td>
            <td>
                @Html.DisplayFor(content => item.Project.End)
            </td>
            <td>
                @Html.DisplayFor(content => item.StatusDescription)
            </td>
            <td>
                @Html.DisplayFor(content => item.Progress)%
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Project.Id">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Project.Id">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Project.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
