@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CollAction.Models.CommitProjectViewModel

@{
    ViewData["Title"] = Localizer["Participate"];
}

<div id="project-commit-form">
    <div class="container">
        @{
            if (Model.IsUserCommitted)
            {
                <h1>You're already participating!</h1>
            }
            else
            {
                @using (Html.BeginForm("Commit", "Projects", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ProjectId)
                    @Html.HiddenFor(m => m.ProjectName)

                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <h1>You're awesome!</h1>
                            <h2>Thank you for participating!</h2>
                            <p>@Model.ProjectProposal</p>
                            <input type="submit" value="@Localizer["I participate"]" class="btn btn-default participate-btn" />
                        </div>
                    </div>
                }
            }
        }

    </div>
</div>
