@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http.Features

@inject IViewLocalizer Localizer

@model CollAction.Models.CreateProjectViewModel

@{
    ViewData["Title"] = Localizer["Create"];
}

<div id="project-create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 banner" id="project-background">
            </div>
        </div>
    </div> 
    <div class="container">
        <form name="Project" asp-action="Create" enctype="multipart/form-data">
            <div class="row" id="project-details-row">
                <div class="col-md-6 col-md-push-6 col-xs-12">
                    <div id="project-info-card">
                        @{ /* <div id="project-category" style="background-color: #@Html.DisplayFor(model => model.Project.Category.ColorHex)"> */ }
                        <div>
                            <h3><label asp-for="Name" class="control-label required"></label></h3>
                            <input asp-for="Name" class="form-control" />
                            @Html.ValidationMessage("Name")
                        </div>
                        <div>
                            <h3><label asp-for="CategoryId" class="control-label required"></label></h3>
                            <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
                            @Html.ValidationMessage("CategoryId")
                        </div>
                        <div>
                            <h3><label asp-for="Target" class="control-label required"></label></h3>
                            <input asp-for="Target" class="form-control" />
                            @Html.ValidationMessage("Target")
                        </div>
                        <div>
                            <h3><label asp-for="Proposal" class="control-label required"></label></h3>
                            <textarea asp-for="Proposal" rows="4" class="form-control"></textarea>
                            @Html.ValidationMessage("Proposal")
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-pull-6 col-xs-12">
                    <div class="row" id="project-starter-row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-xs-3 col-md-12">
                                    <div id="project-starter-avatar"></div>
                                </div>
                                <div class="col-xs-9 col-md-12" id="project-starter-name">
                                    <h3>Project Starter</h3>
                                    <p>@Model.ProjectStarterFirstName @Model.ProjectStarterLastName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <hr class="hidden-sm hidden-xs" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div id="project-short-description">
                        <h3><label asp-for="Description" class="control-label required"></label></h3>
                        <div id="create-project-description"></div>
                        <input asp-for="Description" type="hidden" />
                        @Html.ValidationMessage("Description")
                    </div>
                    <div id="project-dates">
                        <h3><label asp-for="Start" class="control-label required"></label></h3>
                        <input asp-for="Start" class="form-control">
                        @Html.ValidationMessage("Start")

                        <h3><label asp-for="End" class="control-label required"></label></h3>
                        <input asp-for="End" class="form-control">
                        @Html.ValidationMessage("End")
                    </div>
                    <div id="project-hashtags">
                        <h3><label asp-for="Hashtag" class="control-label"></label></h3>
                        <input asp-for="Hashtag" class="form-control">
                        @Html.ValidationMessage("Hashtag")
                    </div>
                </div>

                <div class="col-xs-12 col-md-7 col-md-offset-1">
                    <div id="project-goal">
                        <h3><label asp-for="Goal" class="control-label required"></label></h3>
                        <div id="create-project-goal"></div>
                        <input asp-for="Goal" type="hidden" />
                        @Html.ValidationMessage("Goal")
                    </div>

                    <hr class="hidden-sm hidden-xs" />
                    
                    <div id="project-comments">
                        <h3><label asp-for="CreatorComments" class="control-label"></label></h3>
                        <div id="create-project-creatorcomments"></div>
                        <input asp-for="CreatorComments" type="hidden" />
                        @Html.ValidationMessage("CreatorComments")
                    </div>

                    <div id="project-image">
                        <h3><label asp-for="DescriptiveImageUpload" class="control-label"></label></h3>
                        <input asp-for="DescriptiveImageUpload" />
                        @Html.ValidationMessage("BannerImageUpload")

                        <h3><label asp-for="DescriptiveImageDescription" class="control-label"></label></h3>
                        <input name="DescriptiveImageDescription" class="form-control" />
                        @Html.ValidationMessage("DescriptiveImageDescription")
                    </div>

                    <div id="project-videolink">
                        <h3><label asp-for="DescriptionVideoLink" class="control-label"></label></h3>
                        <input asp-for="DescriptionVideoLink" class="form-control" />                    
                        @Html.ValidationMessage("DescriptionVideoLink")
                    </div>

                    <div id="submit-project">
                        <input type="submit" value="Submit" class="btn btn-default pull-right" />
                    </div>
                </div>
            </div>
        </form>
    </div> 
</div> 
