@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CollAction.Models.DisplayProjectViewModel

@{
    ViewData["Title"] = @Model.Project.Name + " " + @Localizer["Details"];
}

<div id="project-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 dotbackground" id="project-background">
            </div> 
        </div> 


        <div class="row" id="project-details-row">
            <div class="col-md-6 col-md-offset-6 col-xs-12" >
                <div id="project-info-card">
                    <div id="project-category">
                        @Html.DisplayFor(model => model.Project.Category.Name)
                    </div>
                    <h1>@Html.DisplayFor(model => model.Project.Name)</h1>
                    <div id="project-progress">
                        <canvas id="project-pie-chart"></canvas>
                        <h2>@Html.DisplayFor(model => model.Progress)%</h2>
                    </div>

                    <div id="more-info">
                        <p>@Html.DisplayFor(model => model.Project.Description)</p>
                        <p>@Html.DisplayFor(model => model.Project.Proposal)</p>
                    </div>

                    <hr />

                    <div id="project-location">
                        <p>
                            <i class="fa fa-map-marker"></i>
                            @Html.DisplayFor(model => model.Project.Location.Name)
                        </p>
                    </div>

                    <div id="project-participation">
                        <ul>
                            <li>
                                <h4>@Html.DisplayFor(model => model.RemainingTimeUserFriendly)</h4>
                                <p>To go</p>
                            </li>

                            <li>
                                <h4>@Html.DisplayFor(model => model.Project.Target)</h4>
                                <p>Target</p>
                            </li>

                            <li>
                                <h4>@Html.DisplayFor(model => model.Participants)</h4>
                                <p>Participants</p>
                            </li>
                        </ul>
                    </div>
                    @{
					    if (Model.IsUserCommitted)
					    {
					        <p>You're participating!</p>
					    }
					    else
					    {
					        <a id="take-part-button" asp-action="Commit" asp-route-id="@Model.Project.Id">Take Part</a>
					    }
    				}
                </div>
            </div> 
        </div> 

        <div class="row" id="project-starter-row">
            <div class="col-md-3 col-xs-12" >
                <div id="project-starter-avatar"></div>
                <h3>Project Starter</h3>
                <p>@Model.Project.Owner.FirstName @Model.Project.Owner.LastName</p>
            </div> 

            <div class="col-md-offset-3 col-md-3 col-xs-12" >
                <div id="project-details-share-buttons"></div>
            </div> 
        </div> 

        <div class="row">
            <hr />
            <div class="col-xs-4">
                <p>@Html.DisplayNameFor(model => model.Project.Proposal)</p>
                <p>@Html.DisplayFor(model => model.Project.Proposal)</p>
            </div>
            <div class="col-xs-8">
                <p>@Html.DisplayNameFor(model => model.Project.Goal)</p>
                <p>@Html.DisplayFor(model => model.Project.Goal)</p>
            </div>
        </div> 

        @{ var image = Model.Project.BannerImage; }
        @if (image != null)
        {
            <div class="row">
                <figure class="project-image">
                    <div class="col-xs-4 caption">
                        <figcaption>
                            <h5>@Html.DisplayFor(model => image.Name)</h5>
                            <p>@Html.DisplayFor(model => image.Name)</p>
                        </figcaption>
                    </div> 
                </figure>
                <div class="col-xs-8 image">
                    <img src="@Url.Content(image.Filepath)" 
                        width="@image.Width" 
                        height="@image.Height" 
                        class="banner-image" 
                        alt="Banner image not found."/>
                </div>
            </div> 
        }


        @if (Model.HasDescriptionVideo) 
        {
             <div class="row">
                 <div class="col-xs-8">
                     <p>@Localizer["Descriptive Video"]</p>
                     <iframe id="ytplayer" type="text/html" width="560" height="315"
                             src="@Model.DescriptionVideoYouTubeEmbedLink"
                             frameborder="0"></iframe>
                 </div>
             </div>
        }  
    
        <div class="row">
            <hr />
            <div class="col-xs-8">
                <p>Other comments</p>
                <p>@Html.DisplayFor(model => model.Project.CreatorComments)</p>
            </div>
        </div> 
    </div> 
</div> 

<script type="text/javascript">
    const percentComplete = @Html.DisplayFor(model => model.Progress);
    window.onload = function () {
        const element = document.getElementById("project-pie-chart");
        window.CollAction.drawPieChart(percentComplete, element);
    };
</script>
