@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CollAction.Models.DisplayProjectViewModel

@{
    ViewData["Title"] = @Model.Project.Name + " " + @Localizer["Details"];
}

<div id="project-details">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 banner" id="project-background" style="background-image:url('@Model.BannerImagePath')">
            </div>
        </div>
    </div> 
    <div class="container">
        <div class="row" id="project-details-row">

            <div class="col-md-6 col-md-push-6 col-xs-12">
                <div id="project-info-card">
                    <div id="project-category" style="background-color: #@Html.DisplayFor(model => model.Project.Category.ColorHex)">
                        @Html.DisplayFor(model => model.Project.Category.Name)
                    </div>
                    <h1>@Html.DisplayFor(model => model.Project.Name)</h1>
                    <div id="project-progress">
                        <canvas id="project-pie-chart"></canvas>
                        <h2>@Html.DisplayFor(model => model.Progress)%</h2>
                    </div>

                    <div id="more-info">
                        <p>@Html.DisplayFor(model => model.Project.Proposal)</p>
                    </div>

                    <hr />

                    <div id="project-location">
                        <p>
                            @if (Model.Project.Location != null)
                            {
                                <i class="fa fa-map-marker"></i>
                                @Html.DisplayFor(model => model.Project.Location.Name)
                            }
                        </p>
                    </div>

                    <div id="project-participation">
                        <ul>
                            <li>
                                <h4>@Html.DisplayFor(model => model.RemainingTimeUserFriendly)</h4>
                                <p>To go</p>
                            </li>

                            <li>
                                <h4>@Html.DisplayFor(model => model.Project.Target)</h4>
                                <p>Target</p>
                            </li>

                            <li>
                                <h4>@Html.DisplayFor(model => model.Participants)</h4>
                                <p>Participants</p>
                            </li>
                        </ul>
                    </div>
                    @{
                        if (Model.IsUserCommitted)
                        {
                            <h4 class="participating">You're participating!</h4>
                        }
                        else
                        {
                            <a class="take-part-button" asp-action="Commit" asp-route-id="@Model.Project.Id">Take Part</a>
                        }
                    }
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6 col-xs-12">
                <div class="row" id="project-starter-row">
                    <div class="col-md-6 col-md-push-6 col-xs-12">
                        <h4>Share this project</h4>
                        <div id="project-details-share-buttons"></div>
                    </div>
                    <div class="col-md-6 col-md-pull-6 col-xs-12 align-sides">
                        <div class="row">
                            @if (!String.IsNullOrEmpty(Model.Project.Owner.FirstName) && !String.IsNullOrEmpty(Model.Project.Owner.LastName))
                            {
                                <div class="col-xs-3 col-md-12">
                                    <div id="project-starter-avatar"></div>
                                </div>
                                <div class="col-xs-9 col-md-12" id="project-starter-name">
                                    <h3>Project Starter</h3>
                                    <p>@Model.Project.Owner.FirstName @Model.Project.Owner.LastName</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 align-sides">
                <hr class="hidden-sm hidden-xs" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4 align-sides description-tags-container">
                <div class="project-short-description">
                    <h3>Short description:</h3>
                    <p>@Html.DisplayFor(model => model.Project.Description)</p>
                </div>
                @if (Model.Project.Tags.Count > 0)
                {
                    <div class="project-hashtags">
                        <h3>Hashtags: </h3>
                        <p>
                            @foreach (var t in Model.Project.Tags)
                            {
                                <span>@Html.DisplayFor(m => t.Tag.Name)</span>
                            }
                       </p>
                    </div>
                }
            </div>
            <div class="col-xs-12 col-md-8 align-sides">
                <div class="goal-proposal-container">
                    <div class="project-goal">
                        <h3>Goal / impact</h3>
                        <p>@Html.DisplayFor(model => model.Project.Goal)</p>
                    </div>
                    <div class="project-green-proposal">
                        <p><q>@Html.DisplayFor(model => model.Project.Proposal)</q></p>
                    </div>
                </div>
                @if (Model.Project.CreatorComments != null)
                {
                    <hr class="hidden-sm hidden-xs" />
                    <div class="comments-container">
                        <div class="project-comments">
                            <h3>Other comments</h3>
                            <p>@Html.DisplayFor(model => model.Project.CreatorComments)</p>
                        </div>
                    </div>
                }
            </div>
        </div>

        @if (Model.Project.DescriptiveImage != null)
        {
            <div class="row project-image">
                <div class="col-xs-12 col-md-8 col-md-push-4 image">
                    <img src="@Model.Project.DescriptiveImage.Filepath"
                         width="@Model.Project.DescriptiveImage.Width"
                         height="@Model.Project.DescriptiveImage.Height"
                         class="additional-image img-responsive"
                         alt="Additional image not found." />
                </div>
                <div class="col-xs-12 col-md-4 col-md-pull-8 caption">
                    <h5>Image</h5>
                    <p>@Html.DisplayFor(model => model.Project.DescriptiveImage.Description)</p>
                </div>

            </div>
        }

        @if (Model.HasDescriptionVideo)
        {
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-4 video-container">
                    <hr class="hidden-sm hidden-xs" />
                    <div class="embed-responsive embed-responsive-16by9 ytembed">
                        <iframe id="ytplayer" type="text/html"
                                src="@Model.DescriptionVideoYouTubeEmbedLink"></iframe>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-8 bottom-take-part">
                @{
                    if (Model.IsUserCommitted)
                    {
                        <h4 class="participating">You're participating!</h4>
                    }
                    else
                    {
                        <a class="take-part-button" asp-action="Commit" asp-route-id="@Model.Project.Id">Take Part</a>
                    }
                }
            </div>
        </div>

    </div> 
</div> 

<div id="project-share">
    <div class="container">
        <div class="row">
            <div id="project-details-share-buttons-row"></div>
        </div> 
    </div> 
</div>

<script type="text/javascript">
    const percentComplete = @Html.DisplayFor(model => model.Progress);
    window.onload = function () {
        const element = document.getElementById("project-pie-chart");
        window.CollAction.drawPieChart(percentComplete, element);
    };
</script>
