@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CollAction.Models.DisplayProjectViewModel

@{
    ViewData["Title"] = Localizer["Details"];
}

<div id="project-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 dotbackground" id="project-background">
            </div> 
        </div> 

        <div class="row" id="project-starter-row">
            <div class="col-xs-3" >
                <div id="project-starter-avatar"></div>
                <h3>Project Starter</h3>
                <p>Natalie Portman</p>
            </div> 

            <div class="col-xs-3" >
                Share Buttons
            </div> 

            <div class="col-xs-6" >
                <div id="project-info-card">
                    <div id="project-category">
                        @Html.DisplayFor(model => model.Project.Category.Name)
                    </div>
                    <h1>@Html.DisplayFor(model => model.Project.Name)</h1>
                    <div id="project-progress">
                        <canvas id="project-pie-chart"></canvas>
                        <h2>@Html.DisplayFor(model => model.Progress)%</h2>
                    </div>

                    <div id="more-info">
                        <p>@Html.DisplayFor(model => model.Project.Description)</p>
                        <p>@Html.DisplayFor(model => model.Project.Proposal)</p>
                    </div>

                    <hr />

                    <div id="project-location">
                        <p>
                            <i class="fa fa-map-marker"></i>
                            @Html.DisplayFor(model => model.Project.Location.Name)
                        </p>
                    </div>

                    <div id="project-participation">
                        <ul>
                            <li>
                                <h4>20 uur</h4>
                                <p>To go</p>
                            </li>

                            <li>
                                <h4>30.000</h4>
                                <p>Target</p>
                            </li>

                            <li>
                                <h4>15.000</h4>
                                <p>Deelnemers</p>
                            </li>
                        </ul>
                    </div>
                    @{
												if (Model.IsUserCommitted)
												{
														<h1>You're participating!</h1>
												}
												else
												{
														<a id="take-part-button" asp-action="Commit" asp-route-id="@Model.Project.Id">Take Part</a>
												}
    								}
                </div>
            </div> 
        </div> 


        <div class="row">
            <hr />
            <div class="col-xs-4">
                <p>@Html.DisplayNameFor(model => model.Project.Proposal)</p>
                <p>@Html.DisplayFor(model => model.Project.Proposal)</p>
            </div>
            <div class="col-xs-8">
                <p>@Html.DisplayNameFor(model => model.Project.Goal)</p>
                <p>@Html.DisplayFor(model => model.Project.Goal)</p>
            </div>
        </div> 

        <div class="row">
            <figure class="project-image">
                <div class="col-xs-4 caption">
                    <figcaption>
                        <h5>This is the caption title</h5>
                        <p>This is where we would put a long image caption</p>
                    </figcaption>
                </div> 
                <div class="col-xs-8 image">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Project%20Image&w=1150&h=450">
                        <i class="fa fa-arrows-alt marginright"></i>
                    </img>
                </div> 
            </figure>
        </div> 

    </div> 
</div> 

<script type="text/javascript">
    const percentComplete = @Html.DisplayFor(model => model.Progress);
    window.onload = function () {
        const element = document.getElementById("project-pie-chart");
        window.collAction.drawPieChart(percentComplete, element);
    };
</script>
