@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model EditProjectViewModel

@{
    ViewData["Title"] = Localizer["Edit"];
}

<h2>@Localizer["Edit"]</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>@Localizer["Project"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                @Html.ValidationMessage("Name")
                @Html.ValidationMessage("Name")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                @Html.ValidationMessage("Description")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Proposal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Proposal" class="form-control" />
                @Html.ValidationMessage("Proposal")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Goal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Goal" class="form-control" />
                @Html.ValidationMessage("Goal")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", Model.Categories)
                @Html.ValidationMessage("CategoryId")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Target" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Target" class="form-control" />
                @Html.ValidationMessage("Target")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Start" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Start" class="form-control" />
                @Html.ValidationMessage("Start")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="End" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="End" class="form-control" />
                @Html.ValidationMessage("End")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatorComments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatorComments" class="form-control" />
                @Html.ValidationMessage("CreatorComments")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BannerImageDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BannerImageDescription" class="form-control" />
                @Html.ValidationMessage("BannerImageDescription")
            </div>
        </div>
        @if (Model.BannerImageFile != null)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Banner Image</label>
                <div class="col-md-10">
                    <img src="@Url.Content(Model.BannerImageFile.HtmlFilepath)" width="@Model.BannerImageFile.Width" height="@Model.BannerImageFile.Height" class="banner-image" alt="Banner image not found." />
                </div>
            </div>
        }
        <div class="form-group">
            <label class="col-md-2 control-label">
                @if (Model.BannerImageFile != null)
                { @Localizer["Change Banner Image"] }
                else
                { @Localizer["Banner Image"] }
            </label>
            <div class="col-md-10">
                <input asp-for="BannerImageUpload" class="form-control" />
                @Html.ValidationMessage("BannerImageUpload")
                @Html.ValidationMessage("BannerImageUpload")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionVideoLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DescriptionVideoLink" class="form-control" />
                @Html.ValidationMessage("DescriptionVideoLink")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hashtag" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hashtag" class="form-control" />
                @Html.ValidationMessage("Hashtag")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{Html.RenderPartial("_ValidationScriptsPartial");}
}
