@using CollAction.Models.ProjectViewModels
@using CollAction.Services
@using Microsoft.Extensions.Options
@using System.Globalization

@model SendProjectEmail
@inject IOptions<ProjectEmailOptions> EmailOptions

@{
    ViewData["Title"] = $"Stuur project e-mail voor '{Model.Project.Name}'";
}

<div id="project-email-form">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <p>
            Hallo project starter!
        </p>
        <p>
            Je kan @EmailOptions.Value.MaxNumberProjectEmails e-mails in totaal versturen (gedurende en tot en met @EmailOptions.Value.TimeEmailAllowedAfterProjectEnd.TotalDays dagen nadat het project eindigt). Je hebt al @Model.Project.NumberProjectEmailsSend e-mails verstuurt en je kan nog @Model.EmailsAllowedToSend e-mails versturen tot en met @Model.SendEmailsUntil.ToString("D", new CultureInfo("nl-NL")) @Model.SendEmailsUntil.ToString("t", new CultureInfo("nl-NL")) in de UTC (London) tijdzone. Om het bericht persoonlijk te laten klinken kan je {firstname} en {lastname} gebruiken in je bericht (inclusief de haakjes), deze zullen worden vervangen door de voor- en achternaam van de gebruiker.
        </p>
        <p>
            Met vriendelijke groet,<br/>
            Het CollAction Team
        </p>
        <form asp-controller="Projects" asp-action="SendProjectEmailPerform" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                @Html.ValidationMessage("Subject")
            </div>

            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <div id="project-email-message"></div>
                @Html.HiddenFor(m => m.Message)
                @Html.ValidationMessage("Message")
            </div>

            <div class="form-group">
                <input type="submit" value="Verstuur" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}