@using CollAction.Models.AdminViewModels

@model ManageUsersIndexViewModel

@{
    ViewData["Title"] = "Manage Users";
}

<h2>@ViewData["Title"].</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().Email)
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ApplicationUser user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(content => user.Email)
                </td>
                <td>
                    <a asp-action="ManageUser" asp-route-userId="@user.Id">Manage</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.HasPrevious)
{
    <a asp-action="ManageUsersIndex" asp-route-page="@Model.PreviousPage">Previous</a>
}

@if (Model.HasNext)
{
    <a asp-action="ManageUsersIndex" asp-route-page="@Model.NextPage">Next</a>
}