@using Microsoft.AspNetCore.Mvc.Localization
@using CollAction.Models.AdminViewModels

@inject IViewLocalizer Localizer

@model ManageProjectViewModel

@{
    ViewData["Title"] = Localizer["Manage Project"];
}

<h2>@ViewData["Title"]</h2>

<div id="project-manage-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <form asp-action="ManageProject" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        @Html.ValidationMessage("Name")
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        @Html.ValidationMessage("Description")
                    </div>
                    <div class="form-group">
                        <label asp-for="Proposal" class="control-label"></label>
                        <input asp-for="Proposal" class="form-control" />
                        @Html.ValidationMessage("Proposal")
                    </div>
                    <div class="form-group">
                        <label asp-for="Goal" class="control-label"></label>
                        <input asp-for="Goal" class="form-control" />
                        @Html.ValidationMessage("Goal")
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatorComments" class="control-label"></label>
                        <input asp-for="CreatorComments" class="form-control" />
                        @Html.ValidationMessage("CreatorComments")
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        @Html.DropDownList("Status", Model.StatusList)
                        @Html.ValidationMessage("Status")
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        @Html.DropDownList("CategoryId", Model.CategoryList)
                        @Html.ValidationMessage("CategoryId")
                    </div>
                    <div class="form-group">
                        <label asp-for="OwnerId" class="control-label"></label>
                        @Html.DropDownList("OwnerId", Model.UserList)
                        @Html.ValidationMessage("OwnerId")
                    </div>
                    <div class="form-group">
                        <label asp-for="Target" class="control-label"></label>
                        <input asp-for="Target" class="form-control" />
                        @Html.ValidationMessage("Target")
                    </div>
                    <div class="form-group">
                        <label asp-for="Start" class="control-label"></label>
                        <input asp-for="Start" type="date" class="form-control" /> 
                        @Html.ValidationMessage("Start")
                    </div>
                    <div class="form-group">
                        <label asp-for="End" class="control-label"></label>
                        <input asp-for="End" type="date" class="form-control" />
                        @Html.ValidationMessage("End")
                    </div>
                    <div class="form-group">
                        <label asp-for="DisplayPriority" class="control-label"></label>
                        @Html.DropDownList("DisplayPriority", Model.DisplayPriorityList)
                        @Html.ValidationMessage("DisplayPriority")
                    </div>
                    <div class="form-group">
                        <label asp-for="BannerImageDescription" class="control-label"></label>
                        <input asp-for="BannerImageDescription" class="form-control" />
                        @Html.ValidationMessage("BannerImageDescription")
                    </div>
                    <div class="form-group">
                        <label asp-for="BannerImageUpload" class="control-label"></label>
                        <input asp-for="BannerImageUpload" class="form-control" />
                        @Html.ValidationMessage("BannerImageUpload")
                    </div>
                    <div class="form-group">
                        <label asp-for="DescriptiveImageDescription" class="control-label"></label>
                        <input asp-for="DescriptiveImageDescription" class="form-control" />
                        @Html.ValidationMessage("DescriptiveImageDescription")
                    </div>
                    <div class="form-group">
                        <label asp-for="DescriptiveImageUpload" class="control-label"></label>
                        <input asp-for="DescriptiveImageUpload" class="form-control" />
                        @Html.ValidationMessage("DescriptiveImageUpload")
                    </div>
                    <div class="form-group">
                        <label asp-for="DescriptionVideoLink" class="control-label"></label>
                        <input asp-for="DescriptionVideoLink" class="form-control" />
                        @Html.ValidationMessage("DescriptionVideoLink")
                    </div>
                    <div class="form-group">
                        <label asp-for="Hashtag" class="control-label"></label>
                        <input asp-for="Hashtag" class="form-control" />
                        @Html.ValidationMessage("Hashtag")
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="ManageProjectsIndex">Back to List</a>
</div>

@section Scripts {
    @{Html.RenderPartial("_ValidationScriptsPartial");}
}