@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Freonen Homepage"];
}

@section Meta {
    <meta name="description" content="Wil je iets goeds doen voor de wereld, maar heb je soms het gevoel dat jouw acties maar een druppel op een gloeiende plaat zijn? Dat hoeft nu niet meer, want met ‘crowdacting’ komen we samen in actie. We stappen met zijn allen over op groene stroom en laten allemaal de (benzine)auto wat vaker staan. Leer hier meer over Freonen en crowdacting, kom collectief in actie met één van de bestaande projecten, of start een eigen crowdactingproject." />
    <meta property="og:url" content="https://freonen.collaction.org" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Samen naar een fossielvrij Friesland" />
    <meta property="og:description" content="Wil je iets goeds doen voor de wereld, maar heb je soms het gevoel dat jouw acties maar een druppel op een gloeiende plaat zijn? Dat hoeft nu niet meer, want met ‘crowdacting’ komen we samen in actie. We stappen met zijn allen over op groene stroom en laten allemaal de (benzine)auto wat vaker staan. Leer hier meer over Freonen en crowdacting, kom collectief in actie met één van de bestaande projecten, of start een eigen crowdactingproject." />
    <meta property="og:image" content="https://freonen.collaction.org/images/friesland/front-page.jpg" />
}

<div id="index">
    <div id="banner-title" class="banner">
        <div class="container">
            <div class="row" id="title-logos">
                <div class="col-xs-12">
                    <img class="logo-freonen" src="/images/friesland/logo-freonenfan-h-white.png">
                    <img class="logo-provincie-friesland" src="/images/friesland/logo-provincie-friesland-white.png">
                    <img class="logo-collaction" src="/images/friesland/powered-by-collaction-white.png">
                </div>
            </div>
            <div class="row" id="title-row">
                <div class="col-xs-12">
                    <h1>@Localizer["Samen naar een fossielvrij Friesland"]</h1>
                </div>
            </div>
            <div class="row" id="link-row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-4">
                    <a class="banner-link" asp-area="" asp-controller="Projects" asp-action="Find">
                        @Localizer["Vind project"]
                    </a>
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-0">
                    <a class="banner-link" asp-area="" asp-controller="Projects" asp-action="StartInfo">
                        @Localizer["Start project"]
                    </a>
                </div>
            </div>
        </div>

        <div id="down-arrow">

        </div>

    </div>

    <div id="intro-text">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        Wil je iets goeds doen voor de wereld, maar heb je soms het gevoel dat jouw acties maar een druppel op een gloeiende plaat zijn?
                    </h3>
                    <p>
                        Dat hoeft nu niet meer, want met ‘crowdacting’ komen we samen in actie. We stappen met zijn allen over op groene stroom en laten allemaal de (benzine)auto wat vaker staan. <a href="/About">Leer hier meer over Freonen en crowdacting</a>, kom collectief in actie met <a href="/Find">één van de bestaande projecten</a>, of <a href="/Start">start een eigen crowdactingproject</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="three-steps">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>@Localizer["Crowdacting in 3 stappen"]</h2>
                </div>

                <div class="col-xs-12 col-md-4">
                    <img class="three-step-image" src="/images/friesland/step1.png">
                    <h3>@Localizer["Voorstel"]</h3>
                    <p>
                        @Localizer["Iemand stelt een collectieve actie voor – met target aantal deelnemers en deadline"]
                    </p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <img class="three-step-image" src="/images/friesland/step2.png">
                    <h3>@Localizer["Crowd"]</h3>
                    <p>
                        @Localizer["Supporters zeggen toe mee te doen als het target vóór de deadline wordt bereikt"]
                    </p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <img class="three-step-image" src="/images/friesland/step3.png">
                    <h3>@Localizer["Actie"]</h3>
                    <p>
                        @Localizer["Wanneer het target aantal supporters is bereikt, komt iedereen in actie!"]
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div id="project-actions">
        <div class="container">
            <div class="row project-action-buttons">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <a class="project-actions-link" asp-area="" asp-controller="Projects" asp-action="StartInfo">
                        @Localizer["Start project"]
                    </a>
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <a class="project-actions-link" asp-area="" asp-controller="Projects" asp-action="Find">
                        @Localizer["Bekijken projecten"]
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="join-a-project">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Doe mee!</h3>
                </div>
            </div>

            <div class="row">
                <div id="projects-container"> 
                </div>
            </div>
        </div>
    </div>

    <div id="project-create-starting" class="hidden-xs">
        <div class="container">
            <div class="row">
                <div id="project-create-landscape-carousel"></div>
            </div>
        </div>
    </div>

    <div id="project-share">
        <div class="container">
            <div class="row">
                <div id="homepage-share-buttons"></div>
            </div>
        </div>
    </div>
</div>