@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<div id="index">
    <div id="banner-title" class="banner">
        <div class="dotbackground">
            <div class="container">
                <div class="row" id="title-row">
                    <div class="col-xs-12">
                        <h1>@Localizer["POWER TO THE CROWD"]</h1>
                    </div>
                </div>
                <div class="row" id="link-row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-4">
                        <a class="banner-link" asp-area="" asp-controller="Projects" asp-action="Find">
                            @Localizer["Find Project"]
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-0">
                        <a class="banner-link" asp-area="" asp-controller="Projects" asp-action="StartInfo">
                            @Localizer["Start Project"]
                        </a>
                    </div>
                </div>
            </div>

            <div id="down-arrow">

            </div>
        </div>

    </div>

    <div id="intro-text">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        Do you want to make the world a better place, but do you sometimes feel that your actions are only a drop in the ocean?
                    </h3>
                    <p>
                        Well, not anymore, because we are introducing crowdacting: taking action knowing that you are one of many. We revamp the neighbourhood with a hundred people or switch to renewable energy with thousands at the same time. <a href="/About">Find out more about crowdacting</a>, take action collectively with one of the existing projects, or <a href="/Start">start your own crowdacting project</a>. 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="three-steps">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>@Localizer["Crowdacting in 3 steps"]</h2>
                </div>

                <div class="col-xs-12 col-md-4">
                    <object class="three-step-image" type="image/svg+xml" data="/images/step1.svg">
                        Your browser does not support SVG
                    </object>
                    <h3>@Localizer["Proposal"]</h3>
                    <p>
                        @Localizer["Someone proposes a collective action and sets a target number of participants and a deadline"]
                    </p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <object class="three-step-image" type="image/svg+xml" data="/images/step2.svg">
                        Your browser does not support SVG
                    </object>
                    <h3>@Localizer["Crowd"]</h3>
                    <p>
                        @Localizer["Supporters pledge to join if the target is met before the deadline"]
                    </p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <object class="three-step-image" type="image/svg+xml" data="/images/step3.svg">
                        Your browser does not support SVG
                    </object>
                    <h3>@Localizer["Act"]</h3>
                    <p>
                        @Localizer["When the target number of supporters is met, we all act!"]
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div id="project-actions">
        <div class="container">
            <div class="row project-action-buttons">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <a class="project-actions-link" asp-area="" asp-controller="Projects" asp-action="StartInfo">
                        @Localizer["Starting a Project"]
                    </a>
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <a class="project-actions-link" asp-area="" asp-controller="Projects" asp-action="Find">
                        @Localizer["Browse Projects"]
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="join-a-project">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Join A Project</h3>
                </div>
            </div>

            <div class="row">
                <div id="projects-container"> 
                </div>
            </div>
        </div>
    </div>

    <div id="project-create-starting" class="hidden-xs">
        <div class="container">
            <div class="row">
                <div id="project-create-landscape-carousel"></div>
            </div>
        </div>
    </div>

    <div id="project-share">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2" id="home-share-container">
                    <h3 id="share-title">Spread it further</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="home-share-buttons-container">
                            <div id="homepage-share-buttons"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>